<a href="https://colab.research.google.com/github/bascr/walmart-sales/blob/main/walmart_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Walmart Sales

### Metadata

**Dataset**: https://www.kaggle.com/datasets/yasserh/walmart-dataset?select=Walmart.csv

**Licence**: CC0: Public Domain

**About the dataset**

This is the historical data that covers sales from 2010-02-05 to 2012-11-01, in the file WalmartStoresales. Within this file you will find the following fields:

- **Store**: the store number
- **Date**: the week of sales
- **Weekly_Sales**: sales for the given store
- **Holiday_Flag**: whether the week is a special holiday - week 1 – Holiday week 0 – Non-holiday week
- **Temperature**: Temperature on the day of sale
- **Fuel_Price**: Cost of fuel in the region
- **CPI**: Prevailing consumer price index. Obtained by comparing, over time, the cost of a fixed basket of goods and services purchased by consumers. 
- **Unemployment**: Prevailing unemployment rate

<br>

**Holiday Events** 

- **Super Bowl**: 12-Feb-10, 11-Feb-11, 10-Feb-12, 8-Feb-13
- **Labour Day**: 10-Sep-10, 9-Sep-11, 7-Sep-12, 6-Sep-13
- **Thanksgiving**: 26-Nov-10, 25-Nov-11, 23-Nov-12, 29-Nov-13
- **Christmas**: 31-Dec-10, 30-Dec-11, 28-Dec-12, 27-Dec-13

<br>

### Questions

- Does the temperature influence the weekly sales?
- What is the effect of Unemployment on sales?
- Which Season has the highest sales?
- Which Store location has the maximum sales? Do we need more manpower in that location?
-Which holiday has the negative impact on sales?
-Is there a correlation between CPI and rate sales?

## 01 Data Preparation

### 01.1 Querying the data

#### Load data from csv file

In [ ]:
import pandas as pd

dataset = pd.read_csv('dataset/walmart-sales.csv')
dataset

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

#### Descriptive analisys

How many rows and columns does the dataset have?

In [ ]:
number_row, number_columns = dataset.shape
print(f'This dataset has {number_row} row and {number_columns} columns.')

This dataset has 6435 row and 8 columns.

### 01.2 Clean the data

### 01.3 Format the data

## 02 Feature Engineering

### 02.1 Feature Contruction

### 02.2 Feature Transformation

### 02.3 Dimension Reduction

## 03 Data Modeling

### 03.1 Linear Regression Model

### 03.2 Random Forest Regressor Model

### 03.3 Gaussian Regresion Model

## 04 Performance Measure

### 04.1 Predict values

### 04.2 Compare predicted values

## 05 Performance Improvement

## Conclusion